<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hot.pocketdoctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".PocketDoctorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketDoctor"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.login.findpassword.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.login.findaccount.DisplayAccountActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.login.findpassword.FindPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.login.findaccount.FindAccountActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.reports.ReportsDetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.signup.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.reservation.ReservationActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.hospitaldetail.HospitalDetailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.medication.MedicationRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.medication.MedicationInfoActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.mypage.settings.NoticeActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.mypage.settings.NotificationSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.mypage.UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.login.LogInHomeActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.treatment.TreatmentListActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true" />
    </application>

</manifest>